.our-friends {
    background-color: #f6f6f6;
    padding: 70px 0;

    &__caption {
        text-align: center;
        margin-bottom: 60px;
        max-width: 420px;
        margin: 0 auto;
    }

    &__wrap {
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__btn {
        width: 265px;
        margin: 0 auto;
    }

    &__btn a:hover {
        color: #000;
    }

    &__btn-row a {
        position: relative;
    }

    &__btn-row a::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 3px;
        background-color: #292929;
        top: 25px;
        left: 21px;
    }

    &__btn-row a:before {
        content: '';
        position: absolute;
        border: 4.5px solid transparent;
        border-right: 5px solid #292929;
        position: absolute;
        top: 22px;
        left: 12px;
    }

    &__btn-rowright a {
        position: relative;
    }

    &__btn-rowright a:after {
        content: '';
        position: absolute;
        width: 12px;
        height: 3px;
        background-color: #292929;
        top: 25px;
        left: 18px;
    }

    &__btn-rowright a::before {
        content: '';
        position: absolute;
        border: 4.5px solid transparent;
        border-left: 5px solid #292929;
        position: absolute;
        top: 22px;
        left: 30px;
    }


}