.our-friends {
    background-color: #f6f6f6;
    padding: 70px 0;

    &__caption {
        text-align: center;
        padding-bottom: 60px;
        padding-right: 10px;
        max-width: 420px;
        margin: 0 auto;
        letter-spacing: 1px;
        @include b(mobile) {
            padding-bottom: 30px;
        }
    }

    &__outer {
        position: relative;
        padding: 0 130px;
        margin-bottom: 67px;
        @include b(tablet) {
            padding: 0 25px;
        }
    }

    &__wrap {
        display: flex;
        margin: 0 -25px;
        @include b(tablet) {
            margin: 0 -10px;
        }
    }

    &__item {
        width: 33.33%;
        padding: 0 25px;
        @include b(tablet) {
            padding: 0 10px;
        }
        @include b(mobile) {
            width: 50%;

            &:nth-child(3) {
                display: none;
            }
        }
        @include b(560) {
            width: 100%;

            &:nth-child(2) {
                display: none;
            }
        }
    }

    &__btn {
        width: 265px;
        margin: 0 auto;
    }

    &__btnrow {
        position: absolute;
    }

    &__btnrow--prev {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 4;
    }

    &__btnrow--next {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 4;
    }

    &__btn a:hover {
        color: #000;
    }

    &__btnrow--prev a {
        position: relative;
    }

    &__btnrow--prev a::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 3px;
        background-color: #292929;
        top: -2px;
        left: -4px;
    }

    &__btnrow--prev a:before {
        content: '';
        position: absolute;
        border: 4.5px solid transparent;
        border-right: 5px solid #292929;
        top: -5px;
        left: -11px;
    }

    &__btnrow--next a {
        position: relative;
    }

    &__btnrow--next a:after {
        content: '';
        position: absolute;
        width: 12px;
        height: 3px;
        background-color: #292929;
        top: -2px;
        left: -6px;
    }

    &__btnrow--next a::before {
        content: '';
        position: absolute;
        border: 4.5px solid transparent;
        border-left: 5px solid #292929;
        top: -5px;
        left: 6px;
    }
}